.App {
  background-color: #f3f3f3;
  min-height: 100vh;
}

::-webkit-scrollbar { display: none; }

.serverUnavailable {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

/* PROJECTS PAGE */

.projectpage-wrapper {
  padding: 0 0 3rem;
  width: 100vw;
  min-height: 120vh;
  color: #fff;
  background: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgb(7, 66, 91) 35%, rgb(6, 39, 46) 100%);
}

.event-gallery-container {
  display: block;
  width: 100%;
  color: white;
  overflow-y: scroll;
}

.event-host-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 0.3rem 0;
	padding: 0.6rem 1.4rem;
	color: rgb(152, 146, 146);
	line-height: 1.22;  
	transition: color 0.2s;
}

.host-name {
	color: rgb(156, 154, 154);
	padding-left: 6px;
	line-height: 1.22;
	font-weight: 600;
	font-size: large;
}

.hosticon-img {
  width: 50px;
  height: auto;
  padding: 5px;
  margin-right: 0.6rem;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #a7adb3;
}

.event-ticket-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 1rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  background-color: #1b1b1b;
}

.project-thumbnail {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 2cm;
}

.bottombar-btns-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: black;
  margin: 1rem 0 0;
  padding: 1.5rem 0;
  text-align: center;
}

.bottombar-btns-wrapper > button {
  margin: auto .6rem;
}



/* EDIT PAGE */

.editpage-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  overflow: hidden;
}


/* CATOGORY PAGE */

.catogory-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-color: #f3f3f3;
}

.catogory_card {
  width: 100%;
  padding: 2rem;
  margin: 0;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 8px;
  background-color: #fff;
}